<form action="javascript:saveCustomer()" id="customerForm">
  <fieldset class="grid">
    <input id="customerId" disabled type="text" placeholder="new customer" />
    <input
      type="text"
      id="customerFirstName"
      name="customerFirstName"
      placeholder="e.g. John"
      class="form-control"
      required
    />

    <input
      type="text"
      id="customerLastName"
      name="customerLastName"
      placeholder="e.g. Doe"
      class="form-control"
      required
    />

    <input
      type="email"
      id="customerEmail"
      name="customerEmail"
      placeholder="e.g. john.doe@example.com"
      class="form-control"
      required
    />

    <input
      type="phone"
      id="customerPhone"
      name="customerPhone"
      placeholder="e.g. +33 6 12 34 56 78"
      class="form-control"
      required
    />
    <input
      type="text"
      id="customerStreet"
      name="customerStreet"
      placeholder="e.g. 123 Main St"
      class="form-control"
      required
    />
    <input
      type="text"
      id="customerCity"
      name="customerCity"
      placeholder="e.g. Paris"
      class="form-control"
      required
    />
    <input
      type="text"
      id="customerPostalCode"
      name="customerPostalCode"
      placeholder="e.g. 75001"
      class="form-control"
      required
    />
    <input
      type="text"
      id="customerCountry"
      name="customerCountry"
      placeholder="e.g. France"
      class="form-control"
      required
    />

    <button type="submit" id="formButton">Add Customer</button>
  </fieldset>
</form>