<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="http://localhost:3000/public/styles.css" />
    <script src="http://localhost:3000/public/car-scripts.js"></script>
    <script src="http://localhost:3000/public/customer-scripts.js"></script>
    <title>Car Rental</title>
  </head>
  <body>
    <main class="container-fluid">
      <header>
        <h1>Car Rental</h1>
        <nav>
          <ul>
            <li><a href="/cars/html">Home</a></li>
            <li><a href="/cars/html">Cars</a></li>
            <li><a href="/customers/html">Customers</a></li>
            <li><a href="/rentals/html">Rentals</a></li>
          </ul>
        </nav>
      </header>
      <section>
        <h2>Welcome to the Car Rental System</h2>
        <p>Manage your car rentals efficiently.</p>
      </section>
      <section><h3>{{title}}</h3></section>
      <content />
    </main>
  </body>
</html>